[2021-08-10 19:05] laundmo opened #2 "Feature request: Singe-file Lona apps."
Is it possible to make a Lona app in a single file?

For trying out the framework or small quick-n-dirty projects, setting up an entire project tree seems excessive.

[2021-08-11 08:51] fscherf commented on #2
Me too :D

So! I thought of something like this:

[code]

[2021-08-11 09:37] laundmo commented on #2
LGTM

except for the fact add_template is using decorator syntax. why?

[2021-08-11 09:39] fscherf commented on #2
whoops. that was a typo. fixed!

The middleware is not needed, but thats the api if you want to add one

[2021-08-11 09:42] laundmo commented on #2
i see, looks good

wonder whether it would be easier to do the routing without a decorator, just passing a dictionary of routes and classes later.

[2021-08-11 10:14] laundmo commented on #2
i was more suggesting something along the lines of ```py
class Home(LonaView):
    def handle_request(self, request):
        return HTML(
            H1('Hello World'),
            P('Lorem Ipsum')
        )

app.routes({
    "/": Home
})
[code]

[2021-08-11 11:12] fscherf commented on #2
Routing tables cant be represented by dicts, because routes can have a specific order. Keyword args for routes have to be supported too. Additionally i can support this syntax

[code]

[2021-08-11 11:17] laundmo commented on #2
If you are supporting anything older than 3.6 that's correct, but 3.6 onward dicts keep their order.
It's not really documented anywhere which versions of python 3 lona supports, so I'm not sure whether it would be okay to rely on that.

[2021-08-12 07:21] fscherf commented on #2
I think a list is least surprising for a routing table. I will support both methods of adding a view

[2021-08-12 17:27] laundmo commented on #2
I think we've been bikeshedding for long enough, do whatever you think makes most sense.

[2021-08-13 07:01] fscherf commented on #2
@laundmo done! Lona scripts are available in Lona 1.1. Checkout https://lona-web.org/end-user-documentation/lona-scripts.html

[2021-08-13 11:06] laundmo commented on #2
looks good!

would you consider making the example in the readme and at the start of the
docs single file scripts?

On Fri, 13 Aug 2021, 09:02 Florian Scherf, ***@***.***> wrote:

[2021-08-13 11:14] fscherf commented on #2
You like the click example better than the clock example?

[2021-08-13 11:30] laundmo commented on #2
oh im sorry, apparently i had to refresh the readme.

in the docs under basic concept would be another good spot for a single
file script, right?

On Fri, 13 Aug 2021, 13:14 Florian Scherf, ***@***.***> wrote:

[2021-08-13 11:34] fscherf commented on #2
Good idea. I will do that soon. Can i close this issue?

[2021-08-13 11:42] laundmo commented on #2
go ahead!

On Fri, 13 Aug 2021 at 13:34, Florian Scherf ***@***.***>
wrote:

[2021-08-13 11:54] #2 closed

[2021-08-13 15:58] laundmo opened #6 "Example script"

[2021-08-13 16:40] fscherf commented on #6
Is this reproducible? That never happend when i tested

[2021-08-15 16:31] maratori opened #9 "Failed to enable button"
An exception is raised when I try to enable disabled button.
[code]

It seems need to use `pop` method or `del` keyword here https://github.com/fscherf/lona/blob/7fd5f10df8f46b0f1dd5dc643d871467d45474a8/lona/html/nodes.py#L176

[2021-08-15 16:55] #9 closed

[2021-08-15 17:20] fscherf commented on #6
I updated the docs on lona-web.org. Can you reproduce this problem with the current example? I tried it for ~10 minutes and had no luck

[2021-08-18 08:19] fscherf commented on #6
@laundmo ?

[2021-08-18 21:03] laundmo commented on #6
sorry for late response, work has me busy

I did not get the error, but the `Button clicked` text also does not appear. It seems the button is just ignored.

I can see the event firing in the JS console though
[code]
Adding a print right after the await_click does not cause anything to be printed out. It seems the event i sent and responded to without ever reaching the await_click line. If you nee

[2021-08-19 04:47] fscherf commented on #6
On which python version are you?

[2021-08-19 07:29] fscherf commented on #6
I released 1.2 but that shouldn't impact this bug

[2021-08-19 13:33] laundmo commented on #6
@fscherf
Python version: Python 3.9.0 (tags/v3.9.0:9cf6752, Oct  5 2020, 15:34:40) [MSC v.1927 64 bit (AMD64)] on win32
OS: Windows 10 Pro 10.0.19043
Browser: Firefox 91.0.1 (64-bit)
Extensions with possible impact: uBlock origin, Decentraleyes, Universal Bypass

[2021-08-19 13:42] fscherf commented on #6
Ah! I only test on linux machines and have no access to an windows machine. I tried to test it with firefox instead of chrome as usual, but everything worked.

[2021-08-19 19:28] maratori opened #11 "Can't use `daemonize()` method in view constructor"
If I call `self.daemonize()` in `LonaView` constructor, view is not demonized.
That's because after view initialization here
https://github.com/lona-web-org/lona/blob/f70230c520488665092ae291f224278b6425d890/lona/view_runtime.py#L84
field `is_daemon` is reset here
https://github.com/lona-web-org/lona/blob/f70230c520488665092ae291f224278b6425d890/lona/view_runtime.py#L101

Example:

[code]

[2021-08-20 06:42] fscherf commented on #11
``self.daemonize()`` is not meant to be called from the constructor but from ``handle_request()``

Lona views are designed to have ``handle_request()`` as their first callback that is called. Every type of setup should be there

[2021-08-20 10:18] korantu opened #12 "Documentation links are broken"
Cross-reference links in the documentation are pointing to `.rst` pages, where they should be pointing to `.html`.

See for example page https://lona-web.org/end-user-documentation/frontends.html. It has a link to

_More information:_ [Basic Concept](https://lona-web.org/end-user-documentation/basic-concept.rst)

Defined in:

https://github.com/lona-web-org/lona/blame/master/doc/content/end-user-d

[2021-08-20 10:30] fscherf commented on #12
Thanks for reporting!

Links in rst Syntax

[code]

have to link to ``.html`` files, links in Flamingo  Syntax

[code]

have to link to ``.rst`` files.

[2021-08-20 13:06] maratori commented on #11
Ok.

Not related to daemonization, but I want to say. I prefer to declare all view attributes in constructor to reduce possible surprises.
For example in [multi user chat](https://lona-web.org/cookbook/writing-a-multi-user-view.html), I'd prefer to add following constructor.
[code]

[2021-08-20 13:06] #11 closed

[2021-08-20 13:43] fscherf commented on #11
I see, and normally i would agree but the LonaView class requires that the server and runtime references are set correctly (and maybe more in the future). Therefore Lona takes the constructor away from you to make usage more beginner friendly.

[2021-08-20 20:57] #12 closed

[2021-08-21 07:42] sobolevn opened #14 "Your CI does not work"
It is broken since the repo was moved to this org:
<img width="1217" alt="Снимок экрана 2021-08-21 в 10 41 28" src="https://user-images.githubusercontent.com/4660275/130314657-22c61eba-bdcb-4dbe-9716-64e47b406a8e.png">

Also, coverage is not found:
<img width="526" alt="Снимок экрана 2021-08-21 в 10 41 58" src="https://user-images.githubusercontent.com/4660275/130314666-9f7a0c5a-9bb1-482b-b526-5de

[2021-08-21 09:24] fscherf commented on #14
Hi @sobolevn!

Yes i know, and can't quite figure out why. Travis seems to work, it even builds all PRs, but the checks won't show up beneath the PRs on github. Codecov is enabled for lona-web-org, but the Lona repository won't show up in the codecov interface.

[2021-08-21 09:42] sobolevn commented on #14
My 2c: I really recommend swithing from Travis to GitHub Actions. It is way easier. You can take a look at our setup (also has coverage): https://github.com/dry-python/returns/blob/master/.github/workflows/test.yml

[2021-08-21 09:45] fscherf commented on #14
@sobolevn: Maybe you are right. Can you provide a prototype config?

[2021-08-21 09:54] sobolevn commented on #14
Sure, will submit a PR soon!

[2021-08-21 09:58] fscherf commented on #14
@sobolevn: Great, thanks! :) No need to hurry, i test all PRs locally and the test-suite does not cover much currently

[2021-08-21 10:57] sobolevn opened #15 "Python3.9 support"
I am going to add `python3.9` test env as a part of #14

I hope, that it will work (it works most of the times).

[2021-08-21 11:03] fscherf commented on #15
Sure! :) i am very glad if don't have to do this ci-stuff all on my own

[2021-08-21 11:18] #14 closed

[2021-08-21 11:18] #15 closed

[2021-08-21 14:04] insolor opened #17 "SyntaxError: 'return' outside function in the Views documentation examples"
Here is an example code from the [Views](https://lona-web.org/end-user-documentation/views.html):
[code]
I tried to run the example with Python 3.8.10, and it gives me a syntax error:
[code]
I guess the return must be inside of the `handle_request` method, like this? At least in this form, it works for me.
[code]
There are more returns outside of methods on that page and in [Lona Scripts](https://

[2021-08-21 14:24] fscherf commented on #17
@insolor: you are completely right, that needs to be in a ``handle_request()`` method. I will fix that later, thaks for reporting :)

[2021-08-21 14:46] fscherf commented on #6
@laundmo to be honest, i am out of ideas how to debug this further.

Is there someone who has a windows environment and can reproduce this problem?

[2021-08-22 08:44] fscherf commented on #17
@insolor: I have gone through all examples and fixed all issues that i found. Thanks for reporting!

[2021-08-22 10:05] #17 closed

[2021-08-22 13:42] maratori opened #20 "Wrong `event.node` for `CheckBox`"
When `CheckBox` fires event, it has wrong attribute `event.node`. I expect to see `CheckBox` itself, but receives `CheckBox.input_node`. Here is an example with workaround.

[code]

It seems we need to change `input_event.node` here before return
https://github.com/lona-web-org/lona/blob/a9bd343a347508fa2b9069227b6d2de50fefd881/lona/html/data_binding/inputs.py#L107

[2021-08-22 14:05] fscherf commented on #20
@maratori: i see. I think your approach in your pr is right

[2021-08-22 14:38] #20 closed

[2021-08-23 09:26] MShekow opened #22 "Hot/live reload feature"
Hi, did I miss it in the docs, or is there no live/hot reload feature, where changes made to my views are automatically reloaded by the server? If that is the case, I suggest such a feature ;).

[2021-08-23 10:25] fscherf commented on #22
Hi @MShekow: Early versions of Lona had such a feature, but it got removed due bad user experience: Reloading a view helps when the view is fully self contained, but when your view uses widgets or helper functions from another module things become inconsistent. Also people use different editors that save files at different times and sometimes multiple times and/or periodically.

Its hard to get th

[2021-08-23 20:33] themutt commented on #6
I don't know if it is related but I tried running the script with:
Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Windows 10 Enterprise LTSC
Firefox 91.0.1 and Chrome 92

In my case noting happens. I don't get any error but I won't receive the websocket message with the "Button clicked" payload
![2021-08-23_22-30](https://user-images.githubuser

[2021-08-23 20:35] themutt commented on #22
I couldn't find the commits related to the reload feature and unfortunately I'm not familiar with aiohttp but I stumbled across [aiohttp-devtools](https://github.com/aio-libs/aiohttp-devtools). Do you think it could be used together with the `run_server()` in `lona`?

[2021-08-24 00:55] korantu commented on #22
On the topic of live reloading, is it possible to configure the frontend to try automatically reconnecting after the server restart?

Usecase: `lona` is driving a web UI in a kiosk, and after server update/restart it would be nice to have the view reloaded.

[2021-08-24 05:37] fscherf commented on #22
@korantu: Absolutely! The ``test_project`` does this for easier development

https://github.com/lona-web-org/lona/blob/master/test_project/templates/lona/frontend.html#L106

Sounds like a cool project! Is it available anywhere?

[2021-08-24 05:49] fscherf commented on #22
@themutt: ``aiohttp-devtools`` seems to have a similar approach like i had. But it seems only work for scripts, not for whole Lona projects. Also they don't seem to have a solution for changes in modules other than the main script.

To make that a reliable feature you would have to maintain a list of all loaded files and directories, and track changes, file removes and new files. And you have to m

[2021-08-24 05:56] fscherf commented on #6
@themutt: So it seems to be an Windows related issue. Do you see the same exception as @laundmo?

@laundmo, @themutt: could you try to run the scripts with

[code]
and post the log?

[2021-08-24 06:34] themutt commented on #6
======== Running on http://localhost:8080 ========
(Press CTRL+C to quit)
[32mLonaWorker_0                   DEBUG    08:32:34.177518 lona.input_events event #1: decoded[00m
[32mLonaWorker_0                   DEBUG    08:32:34.177518 lona.input_events event #1: gets handled by runtime #22251893765000000[00m
[32mLonaWorker_0                   DEBUG    08:32:34.177518 lona.input_events runtime

[2021-08-24 06:49] fscherf commented on #6
@themutt:

after

[code]

[code]
is missing.

This is the code path i would expect to run:
https://github.com/lona-web-org/lona/blob/master/lona/view_runtime.py#L701

[2021-08-24 07:31] fscherf commented on #6
@themutt i see color sequences in your log output. Do colors not work on windows?

[2021-08-24 08:46] MShekow opened #24 "Make lona work as Python module"
`python -m lona <more arguments here>` yields the error `No module named lona.__main__; 'lona' is a package and cannot be directly executed`. It would be nice if this would work, so that you can mix other `-m` arguments (e.g. for remote debugging with [debugpy](https://github.com/microsoft/debugpy)).

[2021-08-24 08:48] MShekow commented on #22
Thank you for elaborating. Indeed, server-restart is fast. The only annoying part sometimes is to get the UI into the specific state I want to debug, but it is manageable.

The remark about auto-reconnecting the frontend was also very helpful, thanks!

[2021-08-24 09:00] fscherf commented on #22
@MShekow:

Yes i agree. Maybe there is a good solution for restart in the future.

I will start an FAQ page with this question and add the client reconnecting snippet to the cookbook.

Thanks for contributing :)

[2021-08-24 09:03] fscherf commented on #24
Good idea!
When ``python -m lona my-application.py`` would be implemented, how would the content of ``my-application.py`` look like?

[2021-08-24 09:10] themutt commented on #6
@fscherf I'm using anaconda prompt and I confirm I can't see colors.
I tried adding two debug lines in https://github.com/lona-web-org/lona/blob/master/lona/view_runtime.py#L704:
[code]
And the output I get with Windows is the following:
[code]
I see that in linux `input_event.node` is in `nodes` but it looks different here

[2021-08-24 09:40] laundmo commented on #6
@fscherf it depends on the terminal, some can do color some cant. normally, coloring libraries are able to pick up on the fact that its a terminal that does not support colors.

[2021-08-24 09:46] fscherf commented on #6
@themutt Oh! All of your nodes have the same node id (these should be unique)
@laundmo Ok. I will add a check if the current terminal can display colors and disable them if needed

[2021-08-24 09:53] laundmo commented on #6
heres how the `blessed` library checks for color support
https://github.com/jquast/blessed/blob/master/blessed/terminal.py#L174-L180
https://github.com/jquast/blessed/blob/master/blessed/terminal.py#L260-L268

monotoic_ns seems to work fine on windows
![grafik](https://user-images.githubusercontent.com/24855949/130596590-40568499-e066-4dc8-97dd-2fd4ad27bbb1.png)

[2021-08-24 09:59] fscherf commented on #6
@laundmo Great! I will implement something like that as soon as possible.

Hm. Ok it seems to work from the shell. Could you paste the output of this script please?

[code]

on my system all node ids are different.

[code]

[2021-08-24 10:06] laundmo commented on #6
@fscherf
[code]

This seems to be a issue with a much lower resolution of monotonic_ns on windows. Why not just keep a internal counter for node ids, or use a short uuid? that would resolve any timing issues that could ever occur by using a time as a id.

[2021-08-24 10:08] themutt commented on #6
@fscherf
Here's the output:
[code]
I've also tried switching from `time.monotonic_ns` to `time.time_ns` in `_time.py`

[code]
I also tried manually changing the `_id` attribute in the original script
[code]
and I confirm the script is working fine. So it looks like a windows nanosecond related issue

[2021-08-24 10:14] laundmo commented on #6
its definitely a issue with a low resolution on windows. This is why you dont ever use just time as a unique id.

[code]

thats the output i get by changing _time.py to
[code]

[2021-08-24 10:29] fscherf commented on #6
@laundmo: That also means the problem can effect pretty much everything that uses "unique" ids such as runtimes.

I think your example code is racy. Lona views run in different threads, so you would have to lock between reading the current value, incrementing it and return the  new value. Thats why i tried to use timestrings.
Also i don't think to increment a value indefinitely, maybe for weeks or

[2021-08-24 10:56] fscherf commented on #6
@laundmo: I researched a little bit and brainstormed with a co-worker of mine. I will implement a global atomic counter, similar to your approach, but with locking to avoid race conditions.

@themutt, @laundmo: Can you test my patch when its done, before i make a release?

[2021-08-24 11:24] MShekow commented on #24
Could it be the `settings.py` file itself? Alternative, one could just discard the need for a `my-application.py` file entirely.

[2021-08-24 11:59] laundmo commented on #6
@fscherf of course i will test, and yeah my approach was obviously quick-n-dirty. I haven't looked too much into deploying lona or for example the lona django integration which could casue issues. Using something like redis in deployment might be unavoidable.

[2021-08-24 14:15] korantu commented on #6
@fscherf I have access to a windows machine at the office, can also test.

[2021-08-24 15:10] korantu commented on #22
@fscherf , auto-reload worked, awesome! Much simpler now. The project is an internal tool/prototype, so, unfortunately, can't share it. The experience is a great success so far, thank you so much! Lona rocks :)

Being able to add a dynamic web UI to a python script this easily is a godsend.

[2021-08-24 18:05] fscherf commented on #6
I created a #25 with patches to fix the id problem, and colored output on terminals that don't support colors

[2021-08-24 18:08] fscherf commented on #24
Sounds reasonable. The project root (the root directory from were all imports are relative) then should be the parent directory of ``settings.py``. I will start working on this as soon as possible.

[2021-08-24 19:19] fscherf commented on #22
@korantu: Great! :) you are welcome. Very cool that you already use it for something productive :)

@korantu, @themutt: I added an FAQ page, and a recipe with the auto-reconnect snipped. This issue should be resolved now i think

[2021-08-25 10:37] #22 closed

[2021-08-25 12:29] MShekow opened #26 "Question: confirmation pop-up in frontend"
Hi. What is the recommended approach to implement frontend/client-side confirmation using Javascript code such as `confirm("...")`?

The use case is as follows: the Python code of the view generates an HTML table with several rows, one per data item (the data items are fetched from another backend). One of the table columns has a delete button / link. When the user clicks the delete link, I want t

[2021-08-25 12:51] fscherf commented on #26
Hi @MShekow,

Does the popup has to be a Javascript ``confirm``? I would recommend to use something like bootstrap modals, which are made of html and css.

https://getbootstrap.com/docs/5.0/components/modal/

I made a custom package for my company, based on bootstrap3 which defines Popups using bootstrap3 modals. Works like a charm! I currently work on a public package with the same functionality

[2021-08-25 13:06] MShekow commented on #26
Yes, it could totally be the Bootstrap 5 modal. I'm using Bootstrap 5 anyway. I'll try setting up the modal as explained [here](https://getbootstrap.com/docs/5.0/components/modal/#varying-modal-content) (because I need the modal's content to be adaptive, showing the item's name that the user is about to delete).

[2021-08-25 13:23] fscherf commented on #26
@MShekow i made a small prototype for you

[code]

[2021-08-26 16:12] laundmo opened #27 "[Docs] Enhance documentation on styling or using frontend frameworks"
Currently, it's not clear how I would use a frontend framework like Bootstrap with lona.

Could the documentation on this be improved, to include a full example of how lona would be used with something like bootstrap, tailwind(if possible, likely needs custom integration due to the css being compiled), bulma etc?

[2021-08-26 19:25] maratori opened #29 "Node constructor arguments"
`lona.html.Node` takes a list of child elements as `*args`.

[code]

Here I see two issues:

The first is that all children and attributes have the same indentation. It makes hard to distinguish them.

The second is that I can't put other attributes (id, style, class, ...) before children. For example in [dash](https://dash.plotly.com/) I can do following (more pretty):

[code]

Note: because `chi

[2021-08-27 09:10] grigolet opened #30 "Cannot use style attribute on plain HTML"
If I try to set `style="..."` within a tag when using HTML strings I get the error `ValueError: style has to be a dict`.
Example of code failing:
[code]
Is this intended or is there any way to make it work on plain strings?

[2021-08-27 12:45] #29 closed, assigned to nobody

[2021-08-27 14:51] #30 closed, assigned to nobody

[2021-08-28 15:58] maratori opened #32 "Imperative event handling"
Currently lona assumes "imperative" way of handling events. I think even for small projects it may be hard to maintain events.
There is the single method `handle_input_event` to react on all events. Usually it contains huge "switch":
[code]

Don't you think it is a problem?
Do you have any plans to change event handling somehow in the future?

My current approach is to use callbacks and stop event

[2021-08-28 16:07] fscherf commented on #32
The current design wants yo to create your own widgets, which handle their own events, if your views get more complexe. Currently there are no plans, but i am open to a proposal!

[2021-08-28 16:13] maratori commented on #32
I'm not ready to propose something specific. Just like to hear your thoughts for now.

[2021-08-29 07:58] fscherf commented on #32
@maratori: I see the problem. The ``LonaView.handle_input()`` API is fine for a few buttons but tedious for many of them. I like the idea of ``button.on_click = $function`` because thats what you would do in Javascript.

To make it consistent with the existing API i would name the hook ``button.handle_click()`` (in Lona all hooks that can stop an event from blubbling up have prefix ``handle_`` and

[2021-08-29 10:52] fscherf commented on #32
@maratori would you review a pull-request for these changes?

[2021-08-29 11:05] maratori commented on #32
@fscherf shure

[2021-08-29 11:48] fscherf opened #33 "lona.html.HTML: add support for high level nodes"
In #32 @maratori and i agreed on additional API to handle input events more javascript-like:

[code]

The problem is when using HTML strings instead of nodes like this:
[code]
it's not obvious why the second example does not work.  When``lona.html.HTML`` parses HTML strings, it does not use nodes from ``lona.html.nodes`` but creates them using ``lona.html.Node(tag_name='button')``. Therefore ``But

[2021-08-29 12:12] themutt commented on #33
Is there a reason for which `lona.html.HTML` does not uses the classes directly from `lona.html.nodes`?

[2021-08-29 13:13] laundmo commented on #33
IMO, the default should be that the text HTML is parsed into high level nodes. Ideally, using nodes and text should create equal objects. Maybe even make it possible to have the parser user custom nodes instead?

[2021-08-29 13:22] laundmo commented on #32
I think a more pythonic way of allowing multiple event handlers would be to allow decorators to be used for that. This is a slight issue, though, as the current proposal uses the HTML object, which won't be available to decorate other methods with. Maybe this could work if the HTML object was defined outside the class, but I'm not sure if that's a good idea.

[code]

`html.query_selector('button.b

[2021-08-29 16:51] fscherf commented on #33
@themutt: It was just simpler to implement it that way to be honest.

@laundmo: I agree. I want to preserve the possibility to parse into non-high-level nodes, but for most cases high-level nodes are the least surprise. I like the idea with the custom nodes. I would implement a mapping in ``lona.html.nodes`` like this:

[code]

which can be overriden using ``HTML('<div></div>', use_high_level_node

[2021-08-29 16:57] fscherf commented on #32
@laundmo: Defining HTML outside the class won't work. Lona creates a new object of ``MyLonaView`` for every request. In your example all objects would access the same object of ``HTML`` which would break updates and state instantly.

I thought of something with decorators too, but the decorated functions would have to be inline functions which costs indentation depth

[code]

[2021-08-29 17:46] maratori commented on #33
I think it's a cool feature to be able parse html string more "correctly".
But I'm not sure it's not worth it.
Parser will become a lot more complex after new nodes is introduced.

[2021-08-29 18:24] laundmo commented on #32
Alternatively, you could split the HTML creation from the request handling, so that Lona can have easy access to the current View's HTML, and then use decorators that are always applied to the current HTML, which don't need the actual instance for decorating.

[code]

[2021-08-29 18:27] laundmo commented on #33
@fscherf looks good to me!

@maratori we'll have to see whether @fscherf wants to implement that or not

[2021-08-29 18:37] fscherf commented on #32
@laundmo: I thought of something like that in a very early design stage of Lona because thats pretty much how a big jinja template would work. But in Lona you can do things like this:

[code]
Views should not be limited to one big complex HTML tree but should be able to make use of small snippets.

[2021-08-29 18:42] fscherf commented on #33
@maratori, @laundmo:

The parsing code is very simple: https://github.com/lona-web-org/lona/blob/master/lona/html/parsing.py#L24
Only two things would have to be changed to make that work: ``lona.html.nodes`` needs a big registry of nodes that are available, and in this line: https://github.com/lona-web-org/lona/blob/master/lona/html/parsing.py#L42 the parser has to check if a class for the curren

[2021-08-29 18:50] laundmo commented on #32
@fscherf i don't quite see how that is mutually exclusive. If you make HTML an attribute of self, you can simply overwrite that from anywhere. Alternatively, let the user define the HTML wherever whenever they want, and self.show() stores the HTML to be used by event handlers. Event handlers would have to be able to cope with not having their selector present in the HTML, but that will have to hap

[2021-08-29 18:57] fscherf commented on #32
@laundmo: overwriting means you destroy all state you previous HTML tree had. I think its a useful feature that you can create and manipulate an unlimited amount of trees, not only one that is stored at a specific place.

[2021-08-29 19:01] laundmo commented on #32
@fscherf how exactly does the HTML tree's state matter for a on click etc event handler?

[2021-08-29 19:02] maratori commented on #33
@fscherf do you want to use only `Node` and its successors in parsing? Or also want to use widgets as well?

[2021-08-29 19:12] fscherf commented on #32
@laundmo: Ah! I think i misunderstood you. Do you mean that ``@LonaView.query_selector('button.foo').handle`` from your last example attaches the decorated function to the matching node of the last shown HTML tree? Or does this line get applied to every node tree that ever gets shown?

[2021-08-29 19:16] laundmo commented on #32
@fscherf  whichever makes more sense, but i would think the last shown would make the most sense since thats what the user is seeing.

[2021-08-29 19:16] fscherf commented on #33
@maratori Only nodes. The only widgets in the standard library besides ``lona.html.HTML`` are the databinding widgets ``TextInput``, ``CheckBox`` etc. I will change them to nodes in my pull-request for #32 because the only reason they are widgets is that nodes can't handle their own input events.

[2021-08-29 19:23] maratori commented on #33
@fscherf Ok, now I understand. Indeed in this case parsing is very simple.

[2021-08-29 19:25] fscherf commented on #32
@laundmo interesting Idea. Thats pretty much a routing system for input events. @maratori's proposal has the advantage of being very close to the API you would find in the browser.

[2021-08-29 19:34] laundmo commented on #32
@fscherf personally, i like this project because it gets me away from the browser. but once this routing system for input events is in place, adding to it with the syntax @maratori proposed should not be too difficult.

[2021-08-29 20:00] fscherf commented on #32
@laundmo I see, but being near to the Javascript API makes explaining the Lona API to beginners very simple, because these are well known concepts by now. Also @maratori's proposal is very simplistic. It does not need a new concept and a new component, but very small changes to the current event system.

I think the idea is very interesting. Maybe that's something for a library on top of Lona like

[2021-08-30 17:01] fscherf commented on #33
@maratori: I created #34 which contains all discussed changes.

[2021-08-30 17:02] fscherf commented on #32
@maratori, @laundmo, @maratori: I created #34 which contains all discussed changes.

[2021-08-31 07:58] fscherf commented on #27
@laundmo: I updated [lona_bootstrap_5](https://github.com/lona-web-org/lona-bootstrap-5/tree/fscherf/dev%2Fmaster) and will release after the next Lona release, because the new widgets depend on some new Lona API (#34 ).

Do you think an example integration like this plus https://lona-web.org/end-user-documentation/frontends.html and https://lona-web.org/end-user-documentation/html.html#frontend-w

[2021-08-31 08:34] laundmo commented on #27
not really.

the issue is there the docs show all the concepts individually but never how they can work together coherently. adding a page explaining the basics of creating something like lona bootstrap would really tie things together.

our maybe just improving the docs pages you linked.

i think the underlying issue is that you obviously know the big picture of how it fits together, but its less

[2021-08-31 08:37] fscherf commented on #27
I see. I will add an article to the cookbook section named "Integrating a third party library", explaining the steps i have taken to create ``lona_bootstrap_5``

[2021-09-01 09:16] #32 closed

[2021-09-01 09:16] #33 closed

[2021-09-02 01:34] maratori opened #45 "Lock in `AttributeDict` doesn't work"
Retrieving iterator from `AttributeDict` is protected with document lock:
https://github.com/lona-web-org/lona/blob/840f311e8e17b711d94ffd1a2e7d68366ba152ca/lona/html/attribute_dict.py#L113-L115

Why?
Seems it doesn't protect from anything.

For example following script raises `RuntimeError: dictionary changed size during iteration` in function `b`.
[code]

Ok, you can fix this by implementing `__

[2021-09-02 07:13] fscherf commented on #26
Hi @MShekow

Yes you are right, you can access ``self.data`` from ``handle_request()`` and ``handle_input_event()`` and that's no hack to do so, its designed that way.

Popup:  In the meantime i released the first version of lona-bootstrap-5 which has native support for modals
https://github.com/lona-web-org/lona-bootstrap-5#modal

Doing two things at the same time: Lona 1.5 has support for callba

[2021-09-02 15:57] maratori commented on #32
@fscherf I realised only now that new way of handling events do almost the same as in my custom classes, but not completely.

Button click works great:
[code]

But I can't do the same for `TextInput`:
[code]
To make it work I have to manually update `self.text.value = event.data` because following code is not executed.
https://github.com/lona-web-org/lona/blob/master/lona/html/data_binding/inputs.

[2021-09-02 16:16] fscherf commented on #32
@maratori: You are right.  Maybe like this?

[code]
I am not completely sure about the ``bubble_up`` logic in this case.

Can you reopen this issue? This is obviously not entirely resolved.

[2021-09-02 21:33] maratori commented on #32
@fscherf Let me play around with it.

[2021-09-02 21:39] maratori opened #48 "`AttributeList` is a `set` actually, but `list` is used under the hood"
`AttributeList` is a `set` actually, but `list` is used under the hood (`AttributeList._attributes`).
This causes performance problems on high number of items.

[2021-09-02 21:55] maratori opened #49 "Boolean attributes doesn't work"
Some "boolean" attributes doesn't work as expected. Below is an example.
[code]

@fscherf What do you think if we will handle such special attributes (`disabled`, `checked`, `multiple`, ...) in `AttributesDict` class?
For example if I execute `node.attributes["disabled"] = False` it will remove `disabled` attribute from html.

[2021-09-02 23:14] maratori opened #54 "Minimal python version and f-strings"
What is the minimal supported python version?
Can we use f-strings? It would be great if yes.

[2021-09-03 05:53] fscherf commented on #54
Currently the minimal supported version is 3.6 like in aiohttp. So f-strings are ok with me.

[2021-09-03 05:56] fscherf commented on #49
@maratori: Good idea! Can you make a pr for this?

[2021-09-03 06:39] fscherf commented on #48
@maratori: You are right. When using something like Tailwind, this could be a problem.

[2021-09-03 08:25] #45 closed

[2021-09-03 08:31] maratori commented on #48
@fscherf, I'm going to create PR. Do you think I should rename `AttributeList` to `AttributeSet`?

[2021-09-03 08:35] fscherf commented on #48
@maratori: No because they are meant to implement an abstraction for ``node.class_list`` and ``node.id_list`` in the browser. You are right, they should use sets, because javascript infact handles these proberties like python sets, but the name should stay.

[2021-09-03 09:03] maratori commented on #49
@fscherf sure, I'm on it.

[2021-09-03 11:02] maratori commented on #49
@fscherf I'm working on PR and need to decide what behaviour should be.

I see three options. Following tables show the difference.
* Option 1 - works as ordinary `dict` (except conversion `str` to `True`)
* Option 2 - `... = False` behaves the same as `del`
* Option 3 - more like html attributes, but may seem inconsistent for someone

What do you think?

| `node.attributes['disabled'] = True`<br>

[2021-09-03 12:35] fscherf commented on #49
@maratori i think i would go with a combination of 1 and two. If we define ``disabled`` as boolean attribute it should have always a value. Also only boolean values should be allowed.

[code]

When using ``pop()``, ``del`` etc i would set ``False`` as value

[2021-09-03 12:39] maratori commented on #49
@fscherf I'm not sure it is good idea because I expect that if `'disabled' in node.attributes`, then it is disabled. Because that's how html works. But actually it means nothing and I have to check the value.

[2021-09-03 12:44] fscherf commented on #49
@maratori Good point.

[code]

Is this to much magic?

[2021-09-03 12:46] maratori commented on #49
I don't know :)
That's why I'm asking before implementation.

[2021-09-03 12:51] fscherf commented on #49
@maratori Maybe its easier to just fix the node properties and keep ``AttributeDict`` a simple data store. There are 3 maybe 5 boolean attributes i can think of, and only a handful of nodes that require them.

Also: Whats about older or exotic browsers that need something like ``checked="checked"``?

[2021-09-03 12:53] #48 closed

[2021-09-03 12:54] maratori commented on #49
@fscherf agree. I came up to the same conclusion.

[2021-09-03 13:34] maratori commented on #54
Don't you mind if I create a PR to convert all formatting to f-strings?

[2021-09-03 13:38] fscherf commented on #54
@maratori  Sure, go ahead! That sounds very tedious, i feel bad that you put so much work in this :D

[2021-09-03 14:16] maratori commented on #54
@fscherf don't worry, that's how I relax :)

[2021-09-04 06:47] fscherf commented on #49
@maratori Are you working on a pr or should i start working on this?

[2021-09-04 10:47] maratori commented on #49
@fscherf I started with the original idea. But after we discarded it I haven't done the new one yet. So go ahead, if you want.

[2021-09-04 10:50] fscherf commented on #49
@maratori i will create a pr then :)

[2021-09-05 10:32] #54 closed

[2021-09-06 07:51] #49 closed

[2021-09-06 10:28] steezeburger commented on #27
I agree that a page showing all the setup code together would be really helpful. The documentation for custom frontends is kind of far down, and I feel some users won't take the time to make it there. I would be happy to help here! I plan on using this for a personal project.

[2021-09-06 10:55] fscherf commented on #27
@steezeburger Some help would be great! :) Sorry that it takes me so long, there was much bug fixing required the last days. This is the next thing i will work on

[2021-09-07 00:17] maratori opened #71 "Attribute `checked` doesn't work"
Following view doesn't work
[code]

1. First 2 inputs should be checked (selected) on load page -> they don't
2. Button `check all` should select all 4 inputs -> nothing happens
3. User selects manually (in browser) all 4 inputs then presses button `uncheck all` -> nothing happens

### Root cause

As far as I understand it doesn't work because of this javascript
https://github.com/lona-web-org/lon

[2021-09-07 06:00] fscherf commented on #71
@maratori Ack! That's a bug. I created a pr to fix it. We need testing for the node rendering code. I currently research how to build a test-suite using aiohttp and selenium.

Btw: You don't have to call ``self.show()`` from a callback. When Lona runs an input event handler that is not ``handle_request()`` it looks for changes in the last shown HTML tree. If the tree is changed ``self.show()`` get

[2021-09-07 06:43] fscherf commented on #27
@laundmo, @steezeburger: I started a cookbook article. Could you give some feedback if this is the right direction?

[2021-09-07 09:43] maratori commented on #71
Didn't know, thanks!

I have some experience with selenium tests. There are great tools for that:
* [selene](https://github.com/yashaka/selene) - testing library (wrapper around selenium)
* [selenoid](https://github.com/aerokube/selenoid) - run browser inside docker (better alternative for selenium hub)
* [allure](https://github.com/allure-framework/allure-python) - test reporting system

[2021-09-07 10:10] fscherf opened #74 "Lona has no browser tests"
At the moment Lona has no browser tests. This means the whole Javascript client stack, which involves rendering and event handling, has no automated testing infrastructure.
I created [fscherf/topic/browser-testing](https://github.com/lona-web-org/lona/tree/fscherf/topic%2Fbrowser-testing) which contains a proposal on how to start a Lona app from the pytest infrastructure.

I personally played a li

[2021-09-07 10:12] fscherf commented on #71
@maratori

\o/ That's what i wanted to hear :D lets discuss that in #74. I hope we can close this issue here today, i expect the testing discussion will be longer

[2021-09-07 10:14] sobolevn commented on #74
I will have time this week to contribute my vision on browser testing, I am going to use Cypress. We can compare / merge our approaches.

[2021-09-07 10:16] fscherf commented on #74
@sobolevn Great! I am very curious how this looks in cypress. Will the tests be python or javascript code?

[2021-09-07 10:21] sobolevn commented on #74
TypeScript 🙂

[2021-09-07 10:24] maratori commented on #74
I have some experience with selenium tests. I used following stack:
* pytest
* [selene](https://github.com/yashaka/selene) - testing library (wrapper around selenium)
* [selenoid](https://github.com/aerokube/selenoid) - run browser inside docker (better alternative for selenium hub)
* [allure](https://github.com/allure-framework/allure-python) - test reporting system

Regarding cypress. I believe

[2021-09-07 10:31] fscherf commented on #74
@sobolevn I agree with @maratori. The whole library is about using a complete web-stack from simple python scripts. Also any test infrastructure we come up with should be a reusable. For me it's not enough to test Lona, i have to test Lona based projects too. So a Python based solution would be best, but i don't want to stop you from proposing a typescript alternative :+1:

[2021-09-07 10:45] sobolevn commented on #74
Ok, but I guess I cannot help with that 😞
I've stopped using Selenium somewhere around ~2014 and never looked back!

I think that I can showing some existing setups instead, this will take far less time (knowing that there's a low chance of acceptance) 🙂

So, let's have a look at examples that I / internet already have:
1. Setup. We tend to store all e2e files in a separate folder. Something like:

[2021-09-07 10:52] fscherf commented on #74
@sobolevn Interesting! Why do you run browser tests in docker containers?

[2021-09-07 11:20] sobolevn commented on #74
Because I run almost everything in a docker container 🙂
And it really simplifies the setup. You don't have to install different browsers / drivers / window managers. It just works, something like `docker run --rm cypress path/to/your/config`

It requires the whole JVM stack. It has old sync-style API with lots of tricky parts. And it is rather slow.
New runners are faster, simplier to install, and

[2021-09-07 11:39] fscherf commented on #74
@sobolevn Ah ok!

Good point! Do we have to deal with timing related issues? If i write a test with a button that turns red when clicked, how would frameworks like selenium or cypress know when the Lona client is done rendering before checking the buttons color? Do we have to add some kind of hooks into the javascript client?

[2021-09-07 11:41] fscherf commented on #74
@maratori You recommended selene. Would you use it with or without pytest-selenium?

[2021-09-07 11:55] sobolevn commented on #74
I don't know. I guess what happens when you click a button is that some HTTP request is sent to your server. You can `await` this request. Wait until it is complete and the check the button's `css`.

[2021-09-07 12:28] maratori commented on #74
I used it without pytest-selenium. Selene uses [webdriver_manager](https://github.com/SergeyPirogov/webdriver_manager) under the hood to use correct driver for your browser. Also pytest-selenium wasn't useful for me that time.

### About waits and timeouts

As far as I understand all modern tools for browser testing (playwright, cypress, selene) use the same approach.
They poll browser until desir

[2021-09-07 12:34] fscherf commented on #74
@maratori: how would this look like in selene? The selene API looks very promising, but it seems to be completely sync. aiohttp testing is async out of the box

[2021-09-07 12:49] fscherf commented on #74
@maratori do you mean this library?

https://github.com/microsoft/playwright-python

[2021-09-07 12:56] maratori commented on #74
@fscherf Yes

[2021-09-07 13:57] fscherf commented on #74
@maratori That looks very promising! Could you prototype how we would add the playwright dependency to the test-suite so it could run in ci? I had to run ``python -m playwright install`` to make it work, and i read conflicting information that you have to do things for headless systems.

[2021-09-07 13:59] maratori commented on #74
@fscherf I can, but not very soon. I hope at the end of this week.

[2021-09-07 14:04] fscherf commented on #74
@maratori I will create a pull request out of my proposal and create a simple test based on playwright

[2021-09-07 16:30] #71 closed

[2021-09-07 20:01] fscherf commented on #74
I have setup #75 which contains a first playwright based. Overall i am pretty happy with this tool. I couldn't get pytest-playwright to run properly becaus pytest-aiohttp and pytest-playwright both try to start an ioloop in the main thread. Maybe this can be avoided by let both libraries share one ioloop, but i couldn't find out how. Also playwright is python3.7+. So we can't test 3.6.

[2021-09-08 14:18] maratori commented on #74
Hm...
I see that `pytest-playwright` provides fixtures to work only with sync API.
Example of fixtures for async API I've found [here](https://github.com/microsoft/playwright-python/blob/master/tests/async/conftest.py).

[2021-09-08 17:54] fscherf commented on #74
@maratori using ``pytest-playwright`` async seems to work fine, but it interferes with ``pytest-aiohttp`` because it raisess a
``RuntimeError: Cannot run the event loop while another loop is running ``

[2021-09-08 21:04] maratori commented on #74
@fscherf could you, please, share an example how `pytest-playwright` async seems to work fine?

[2021-09-09 05:27] fscherf commented on #74
@maratori Oh you are right!

Running
[code]
also raises ``RuntimeError: Cannot run the event loop while another loop is running``. I thought that's because of ``pytest-aiohttp`` but obviously it's not.

[2021-09-11 10:57] fscherf commented on #26
@MShekow In the meantime i added a demo that seems to do pretty much what you are looking for i guess
https://lona-web.org/demos/bootstrap-5-confirmation-popup/index.html

[2021-09-12 12:08] maratori opened #81 "Github releases"
Let's create github releases as well as pypi releases.

I found them very useful in several aspects.
The most interesting is that users can use github notifications to get email on each new release.
It isn't possible if you create git tag only (without explicit github release).

[2021-09-12 12:13] fscherf commented on #81
OK. Could you provide some documentation on how to do this properly (a comment here is enough)? At this point we should add an article to the documentation on how to make an release and how to update the documentation.

[2021-09-12 12:29] maratori opened #82 "Define `STATIC_FILES` in `LonaView` like in `Widget`"
I want to add style sheets to my view. Now I've found following solutions.

1. Replace default styles
[code]

2. Define fake widget (lona will do it's magic and incorporate all styles from all widgets to HTML)
[code]

3. Add `link` manually
[code]

All solutions above looks hackish.
Let's add `LonaView.STATIC_FILES` like it is in widgets.
So I can just use following code to add style to my view.
[

[2021-09-12 12:36] maratori commented on #81
I think github [documentation](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository) is clear enough. But if you have any question I'd be happy to answer.

Here is a great [example](https://github.com/plotly/dash/releases) on how releases should look like.

[2021-09-12 13:15] fscherf commented on #81
Oh! I should have googled that myself :D thanks for the links!
Do you want me to upload all previous releases, or should we do this up this point?

[2021-09-12 13:17] fscherf commented on #82
@maratori Great idea! I never thought of that. Could you provide a pr with a prototype and update the documentation?

[2021-09-12 13:20] maratori commented on #81
It's up to you.

[2021-09-13 08:29] fscherf commented on #74
@sobolevn: @maratori and i are now done with the server part of the test-suite and added 2 simple tests based on playwright (#75 ).

Is there something we can't do with this approach? Has cypress advantages we miss here?

[2021-09-14 04:57] mwx23 opened #90 "Problem dynamically adding and removing nodes"
Hi,

I'm having an issue when dynamically adding and removing nodes. I may not be using the framework as intended so please advise if there is a more natural way to do it.

I've provided a demo here, in both widget form and in the view itself. I've provided the widget version because sometimes I think its behaviour is subtly different, like it's events aren't getting fired.

In the demo you can cl

[2021-09-14 08:00] fscherf commented on #90
Hi @mwx23!

Thanks for reporting! This is indeed a bug, and i am not completely sure why this happens yet. I noticed that the node ids on the client differ from the node ids present in the server HTML. It seems to have to do with the way ids get generated because if i change the code like this:

[code]
the problem seems to disappear. (Could you verify that?). I will debug this further this day.

T

[2021-09-14 09:40] fscherf commented on #90
@mwx23 I found the problem! I will send a pull request today :)

[2021-09-14 18:33] maratori opened #92 "Incorrect parsing of `<textarea>abc</textarea>`"
This issue is created to not forget that parsing of `<textarea>abc</textarea>` is incorrect.

[code]

https://github.com/lona-web-org/lona/blob/a61b6539fe11ed19d4e3f93af6856e898ff18992/tests/test_0001_html.py#L410-L414

[2021-09-15 02:23] mwx23 commented on #90
Can confirm that your fix did resolved the issue.

Thanks for the quick response!

[2021-09-15 02:23] #90 closed

[2021-09-15 12:26] fscherf commented on #90
@mwx23 You are welcome. The fix for this problem will available in 1.7 which i will release soon

[2021-09-15 12:49] #82 closed

[2021-09-15 12:50] #74 closed

[2021-09-15 13:02] fscherf commented on #81
@maratori I created a github release for 1.6.1 and i will release them here from now on. I am not sure if it was clever to start with the latest release, because i think i will mess up the order of release tags on github if start to upload earlier releases

[2021-09-15 13:05] #27 closed

[2021-09-15 13:06] #26 closed

[2021-09-15 13:08] #81 closed

[2021-09-16 07:59] #92 closed

[2021-09-16 13:17] mwx23 commented on #90
Thanks @fscherf !

For those wanting to incorporate this commit you can set in your `setup.cfg`:
[code]

Can't remember the `requirements.txt` way but it will be similar.

On a side note, I've been experimenting with different patterns for components, is there an appropriate place to discuss such things?

Also, lona rocks 🤘

[2021-09-16 13:36] fscherf commented on #90
@mwx23 thanks! :) the release is essentially done, i just have write a changelog. I will notify you here.

 Yes! Just open a dicussion or an issue! I happy to help you if needed :)

[2021-09-16 13:39] mwx23 commented on #32
I realise this issue has been closed but I just wanted to share a cool pattern from https://github.com/erdewit/ib_insync that I've found very natural for frameworks with events.

It would look something like this:

[code]
`on_click_event` being a set of handler functions.
`my_click_func` being a function with the signature for a click input event.

Thanks @fscherf  and @maratori , really enjoying

[2021-09-16 15:50] fscherf commented on #32
@mwx23 thanks for bringing this up. I thought of something similar to this. My approach was more like the Javascript implementation ``addEvendtHandler``. In the end i decided against it because it makes the API more complex and I could think of a use case that can't be implemented using the simpler API.

[2021-09-16 16:30] maratori commented on #32
@mwx23 I thought about `+=` as well. It is like `delegate` in C#. I'm not sure we need this complexity for now.

[2021-09-16 16:36] fscherf commented on #90
@mwx23 1.7 is out now

[2021-09-19 01:33] mwx23 opened #111 "CheckBox rendering incorrect for value=False"
I think I've found a bug with how the `CheckBox` renders to html.

It always renders the `checked` attribute.

Expected behaviour would be if `CheckBox()`  or `CheckBox(value=False)` then the `checked` attribute would not be rendered.

[code]

[2021-09-19 12:11] mwx23 opened #112 "External link causes exception in lona.js"
If I create an external link and click on it `lona.js` throws an exception.

Also it doesn't seem to handle the `target="_blank"` attribute.

[code]

[2021-09-19 18:09] maratori commented on #111
@mwx23, thanks for reporting.

@fscherf, IMO `TextInput` should not be a base class for `CheckBox`. And it's better to get rid of `TextInput.INPUT_ATTRIBUTE_NAME`. What do you think?

[2021-09-19 18:37] fscherf commented on #112
@mwx23 thanks for reporting! Lona nodes have a flag ``ignore`` which tells the client to not patch the default behavior of HTML nodes. Links have a special attribute called ``interactive`` which should enable external links. None of these two properties seem to work in this case and i forgot to document both of them. The client shouln't crash in this case anyway. Much to fix here! :D

[2021-09-19 18:41] fscherf commented on #111
@mwx23, @maratori: the python string representation is only for debug purposes. The real rendering happens in the Javascript client which handles ``checked`` correctly (thats my impression at least).
But we should fix the string representation anyway becase its obviously confusing.

@maratori why do you want to get rid of it?

[2021-09-19 18:46] maratori commented on #111
It is only necessary to be able make `CheckBox` a child of `TextInput`. This inheritance introduces more complexity than solves any problem. If i understand correctly, the bug exists only because of this inheritance.

[2021-09-19 18:54] fscherf commented on #111
@maratori I don't think that's the problem. ``checked`` is a boolean property and ``Node.__str__`` just doesn't renders it correctly

[2021-09-19 18:56] maratori opened #113 "Html attributes are not escaped"
Following test fails
[code]

That's because invalid html produces by the first div.
[code]

It seems need to use `html.escape`.

[2021-09-19 19:00] fscherf commented on #113
@maratori ack! Thanks for reporting!

[2021-09-20 06:47] mwx23 commented on #111
Just to be clear this happens when rendered in the browser. All are checked.

[code]

[2021-09-20 06:56] mwx23 commented on #112
No worries @fscherf I don't mean to cause you extra work! :)

I'm hoping in time when I get to know the code better I can submit a pull request instead of just reporting bugs.

[2021-09-20 06:57] fscherf commented on #111
@mwx23 Oh! You are right. It's actually broken on both sides -.- I created a branch and started working on this

[2021-09-20 07:00] fscherf commented on #112
@mwx23 Great! :) Contributions are always welcome. If you want i can show you the lines in the code that i think cause the problems instead of fixing them myself, if you search for something to pull-request :)

[2021-09-20 07:52] fscherf commented on #113
@maratori ``html.escape`` seems not to be working.

[code]

My browser did not accept this string. I think we have to use something like this:

[code]

[2021-09-20 08:07] maratori commented on #113
That's strange. Following worked for me in Chrome and in Safari
[code]
[code]

[2021-09-20 10:19] fscherf commented on #113
Very strange! Because now your example works in my browser perfectly fine. Seems like i did something wrong and that's indeed the fix for this problem. Do you wan't to create a pr or should i?

[2021-09-20 10:23] maratori commented on #113
It would be great, if you create a PR with tests.
Also I think there may be more cases when we need to escape.

[2021-09-20 18:13] fscherf commented on #113
@maratori Ive setup a pull-request with your suggested changes and a test

[2021-09-20 19:11] fscherf commented on #112
@mwx23 I've setup a pull-request that fixes the handling of external links, the exception in the client and added some docs on how to use external links in the first place

[2021-09-21 06:32] #113 closed

[2021-09-21 07:20] #111 closed

[2021-09-21 07:21] fscherf commented on #111
@mwx23 Both sides are fixed now. The changes will be available in 1.7.1

[2021-09-21 07:39] #112 closed

[2021-09-21 07:40] fscherf commented on #112
@mwx23 Both problems are fixed now. I will release 1.7.1 this day

[2021-09-25 18:49] maratori opened #130 "Lona doesn't respect `link=False` for static files"
According [documentation](https://lona-web.org/end-user-documentation/html.html#adding-javascript-and-css-to-frontend-widgets) style sheets and scripts should not be added to html if `link=False`.
But they are.

For example this code
[code]
produces following html
[code]

[2021-09-25 19:13] fscherf commented on #130
@maratori thanks for reporting. I created a pr that should fix the problem

[2021-09-25 19:49] fscherf opened #132 "Coverage seems broken"
Something with the coverage seems odd. How can line 1 be missed, but line 11 run?

![screenshot--2021 09 25-21_45_15](https://user-images.githubusercontent.com/8168821/134784347-cccfa475-b6fe-48a6-a752-9876032767e5.png)

[2021-09-25 20:36] sobolevn commented on #132
Do you dynamically recreate / reload modules?

[2021-09-25 20:43] fscherf commented on #132
@sobolevn there is code to dynamically load views but this code right here is imported directly

[2021-09-25 21:24] sobolevn commented on #132
I've seen problems like this when:
1. `sys.modules` are modified after initial load
2. `pytest` plugin conflict, when some plugin loads your modules before `pytest-cov` does, example:  https://github.com/dry-python/returns/blob/master/tests/conftest.py#L10-L11

[2021-09-25 21:48] fscherf commented on #132
@sobolevn Hm. The loading mechanic is a feature i don't want to remove. I had a similar problem in another project a while ago. This line fixed it, but i think it's a hack

https://github.com/pengutronix/aiohttp-json-rpc/blob/master/tox.ini#L47

[2021-09-26 19:29] #130 closed

[2021-09-27 10:56] maratori opened #135 "Static file is not served if `link=False`"
After #131 lona don't add static files with `link=False` to HTML. But also it stopped serving them.

[2021-09-28 06:21] #135 closed

[2021-10-01 12:45] fscherf commented on #132
@sobolevn, @maratori I tried this approach in https://github.com/lona-web-org/lona/tree/fscherf/fix-coverage and it really seems to fix this problem, but is this a good fix? The problem seems to be that the coverage is loaded to late, or is capturing to late.

[2021-10-01 13:03] maratori commented on #132
@fscherf I don't know what is the right way to fix it. Here is another example, I've hound https://github.com/pytest-dev/pytest-print/blob/eb776107d83a94e90edeb7381d679251ae45bcf0/tox.ini#L27-L33.

[2021-10-01 13:06] fscherf commented on #132
@maratori ah ok! Similar approach but cleaner implemented. To my eyes that looks less like a hack

[2021-10-04 07:38] fscherf commented on #132
The problem was solved in #139. @maratori, @sobolevn Thanks for your time!

[2021-10-04 07:38] #132 closed

[2021-10-04 14:49] mwx23 opened #142 "SVG Support"
This might be out of scope, but it would be super cool if you could manipulate `svg` elements with `lona`.

I've tried the following and appears in the DOM when you inspect it, but doesn't render.

[code]
I'm working on some widgets that I'll share when they're decent. It was super easy to wire them up, I'm experimenting with different patterns to expose the data back to `lona`. I'll post some new

[2021-10-04 14:57] fscherf commented on #142
Hi @mwx23,

I thought of this too and started with this: https://github.com/lona-web-org/lona/tree/fscherf/canvas-support

My idea was to add API to use a canvas object in python like in Javascript

[code]

[2021-10-04 15:01] fscherf commented on #142
@mwx23 ``SELF_CLOSING_TAG`` gets only used for the server side representation. The client renders tags on its own, without this information. The renderer was not made with SVGs in mind, so maybe we use not the right APIs to handle self closing tags in SVGs correctly.

[2021-10-04 15:35] fscherf commented on #142
@mwx23 :)

Sure! When a node gets redered initially ``lona/client/dom-renderer.js`` is used. When a node receives updates ``lona/client/dom-updater.js`` gets used.

[2021-10-04 15:35] #142 closed

[2021-10-05 10:35] fscherf opened #146 "HTML nodes have no generator support"
[code]

I think that's a bug, because it's not obvious why that doesn't work

[2021-10-05 12:44] MShekow opened #148 "Bootstrap Modal with fade=on causes fade to stay after changing view"
How to reproduce:

Build an example similar to [this one](https://lona-web.org/demos/bootstrap-5-confirmation-popup/index.html). Initialize the modal with `Modal(fade=True, centered=True)` and configure buttons e.g. like this: `self.modal.set_buttons(A("Back to start page", href="/some/path", _class="btn btn-primary"))`

When the user clicks the button, the backdrop shadow of the Modal will stay a

[2021-10-05 12:45] MShekow commented on #148
Moved to https://github.com/lona-web-org/lona-bootstrap-5/issues/1

[2021-10-05 12:45] #148 closed

[2021-10-05 16:54] fscherf opened #150 "tests/test_static_files_widget.py::test_static_files_widget sometimes crashes"
``tests/test_static_files_widget.py::test_static_files_widget`` sometimes crashes, and it's hard to reproduce. I've only seen this locally, not in ci. Is there a race condition somewhere?

[code]

@maratori any ideas?

[2021-10-05 17:18] maratori commented on #150
It's very similar to what I've seen in CI. Most probably it didn't discover widget.
I have no idea why.

[2021-10-06 07:38] #146 closed

[2021-10-07 06:50] fscherf opened #154 "Websocket disconnects"
When the Lona client idles for ~5 minutes, the browser seems to close the websocket. When the browser tab is not visible it seem to take only ~3 minutes. I experimented a little bit and it seems only to happen if the url is not ``http://localhost``.

I googled a little bit and this seems to be a browser feature to save energy. For our use case this is clearly not acceptable because if you have a v

[2021-10-07 12:37] fscherf commented on #154
@maratori so i think we only have to deal with disconnects because of idle

[2021-10-09 00:10] mwx23 opened #157 "Modify browser location from server"
This is a feature request.

My use-case is that I have a menu to select items from a route `/items/<item_id>`.

I can of course do with `<a href='/items/123' />`. This however results in a page reload.

I am currently using `<button/>`s with a server-side function that just replaces item in the DOM, mostly because I can with `lona` :)

The only issue with that is it would be nice if the server-sid

[2021-10-09 10:59] #157 closed

[2021-10-18 11:55] fscherf opened #166 "Select multiple with no selection returns first option"
### Discussed in https://github.com/lona-web-org/lona/discussions/165

<div type='discussions-op-text'>

<sup>Originally posted by **mwx23** October 17, 2021</sup>
I've noticed that when using a `Select(multiple=True)` if you deselect all options and get it's `.value` it defaults to returning the first option.

The behaviour comes from:

https://github.com/lona-web-org/lona/blob/d93460a744b6a1057f

[2021-10-20 11:43] #166 closed

[2021-11-01 11:11] mwx23 opened #175 "aiohttp v3.8.0 breaks lona"
`aiohttp` just released a new version that appears to break `lona`.

Pinning the version to `aiohttp==3.7.4` fixes the issues.

Here's the error:

[code]

[2021-11-01 11:14] fscherf commented on #175
@mwx23 Thanks for reporting! I noticed that too this morning and i created #174 to fix that. I asked if this is a good solution in the aiohttp discourse https://aio-libs.discourse.group/t/aiohttp-web-run-app-incompatibility-between-aiohttp-3-8-and-aiohttp-3-8/259

[2021-11-01 12:30] mwx23 commented on #175
@fscherf haha I spent all day debugging this! Was going mad reverting to HEAD on my project and recreating the virtualenv. Glad you're on top of it :)

[2021-11-01 12:30] #175 closed

[2021-11-01 13:00] fscherf commented on #175
@mwx23 :D the problem is fixed in 1.7.6

[2021-11-03 00:56] laundmo opened #176 "feature: ASGI compatibility"
Currently, Lona uses aiohttp as a server. Aiohttp server is slower than most ASGI libraries and doesn't use a standardized interface.

What are your thoughts on eventually making this ASGI compatible, so it can run in common ASGI servers like uvicorn?

Im thinking Starlette would be a good option as a server framework, as it's used in FastAPI which is decently well established and proven to be sta

[2021-11-03 00:59] vcokltfre commented on #176
Laundmo just introduced me to this project and it looks like something I'd definitely be interested in using, but with it using aiohttp as a backend rather than having it as an ASGI compatible app I can run with Uvicorn it's hard for me to justify using it. (This is largely due to a lot of the huge number of libraries that do work with Starlette/ASGI apps, such as starlette-discord for Discord OAu

[2021-11-03 01:01] fscherf commented on #176
@laundmo, @vcokltfre sounds reasonable. Can you provide a PR that adds ASGI compatibility?

[2021-11-03 01:13] fscherf commented on #150
This problem seems not to be reproducible after a97b0de092873976ff2b8a19ca2b12720457baa4. I have no idea why this is related. I'll give this bug a few more ci-runs to reappear, if not i will close this issue (and reopen it in case it reappears later on)

[2021-11-03 01:26] laundmo commented on #176
Could you tell us which are the main points where the serverside code interfaces with the library itself? in other words: what classes would we have to replace to fully change out aiophttpo as a server?

[2021-11-03 01:36] fscherf commented on #176
@laundmo Sure! The only parts that interface with aiohttp directly are ``lona/server.py`` and ``lona/command_line/run_server.py``

[2021-11-15 12:19] Farom opened #181 "missing logging priority in journald"
Log messages should have a priority when they arrive in the journal.
At least stacktraces should be recognized as errors. I test this with journalctl -p 4.

It is probably enough if stacktraces are written out to stderr.

[2021-11-22 10:02] #181 closed

[2021-11-22 10:57] sylvoslee opened #184 "How to use some production-ready table components in this framework"
like ag-grid

[2021-11-22 11:03] fscherf commented on #184
Hi @sylvoslee!

Lona has support for Bootstrap 5 tables for example (https://lona-web.org/demos/bootstrap-5-confirmation-popup/index.html)

If you need another frontend library, the documentation has a guide on how to add/package a frontend library (https://lona-web.org/cookbook/integrating-a-frontend-library.html)

[2021-11-22 11:10] fscherf commented on #150
This problem seems to be fixed

[2021-11-22 11:10] #150 closed

[2021-11-22 11:12] fscherf commented on #176
@laundmo, @vcokltfre: Do you guys have code to look at?

[2021-11-23 09:16] #184 closed

[2021-11-23 16:54] laundmo commented on #176
@fscherf im sorry to say: no. i've been quite busy and didn't have any time.

[2021-11-23 16:58] fscherf commented on #176
@laundmo don't be sorry! :) I just wanted to make sure you are not stuck on something

[2021-12-06 14:23] sylvoslee opened #187 "cannot import name 'LonaApp' from 'lona'"
`
Traceback (most recent call last):
  File "test_lona.py", line 2, in <module>
    from lona import LonaView, LonaApp
ImportError: cannot import name 'LonaApp' from 'lona'
`

[2021-12-06 14:25] fscherf commented on #187
Hi @sylvoslee,

which Lona version are you using? How did you install Lona?

[2021-12-06 14:54] sylvoslee commented on #187
lona 1.8.4 on windows
install by `pip install lona`

[2021-12-06 16:35] fscherf commented on #187
@sylvoslee does ``import lona`` work? If not, i suspect the script runs in a different environment than your pip command.
Did this work before?

[2021-12-10 14:41] sylvoslee commented on #187
`>>> import lona

['ClientError', 'ForbiddenError', 'LonaView', 'MATCH_ALL', 'NotFoundError', 'Route', 'ServerStop', 'StopReason', 'UserAbort', 'VERSION', 'VERSION_STRING', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_json', 'command_line', 'connection', 'default_settings', 'errors', 'events', 'exceptions', 'html', 'imports

[2021-12-10 15:34] fscherf commented on #187
Huh!? Interesting! That seems to be some packaging or importing problem.

Does ``from lona.app import LonaApp`` work?

In ``lona/__init__.py`` is a try Block around the imports. What does happen if you remove it?

I dont have access to a windows machine. Can someone reproduce this problem? @korantu @themutt @sobolevn

[2021-12-10 16:42] themutt commented on #187
I checked on my VM with windows 10 and python 3.10. The error seems to be related to the fact the `lona` is trying to import the [syslog](https://docs.python.org/3/library/syslog.html) package but syslogd is only available on Unix.
See the traceback here:
[code]
I am not sure what can be done about it. What do you think @fscherf ?

[2021-12-10 17:45] fscherf commented on #187
@themutt Oh! You are right. I forgot that syslog is unix specific. I will create a pull request that changes the code so that the logging checks if syslog can be imported, and if not, this feature gets disabled.

Thank you for testing! Can you test my pr as well? I think I should setup an vm like that too

[2021-12-10 18:08] themutt commented on #187
@fscherf Sure! No problem :+1: When I was looking for the stack trace I noticed that in `__init__.py` eventual import errors are simply catched and passed.
https://github.com/lona-web-org/lona/blob/dcaac17c396c25f3812c92802d8905eb7b1fd2e6/lona/__init__.py#L8-L11

 Wouldn't it be better to print anyway the exception?

[2021-12-10 20:22] fscherf commented on #187
@themutt i though of that too. Good idea, i will add that to the pull-request

[2021-12-15 11:05] #187 closed

[2021-12-15 11:52] fscherf commented on #187
@sylvoslee: I released 1.8.5 which has a fix for this problem. Thanks for reporting! :)

[2022-01-14 09:21] masksshow opened #190 "Do you have Server-Side Rendering (SSR)?"
Hi.
Cool project!
Do you have Server-Side Rendering (SSR)?

[2022-01-14 22:13] laundmo opened #191 "KeyboardInterrupt not causing handle_request to exit when using blocking call."
When using a blocking call in the handle_request of a view, KeyboardInterrupt does not cause it to stop.

I initially discovered this trying to write a view that updates with items from a Queue, where it hang on `queue.get()` inside the handle_request, but the same applies to time.sleep()

Minimal Example:
[code]

OS: Windows 10
Python: 3.9.0
Lona: 1.8.5

[2022-01-15 08:36] fscherf commented on #191
Hi @laundmo,

the problem here is that keyboard interrupt gets handled by the main thread but ``handle_request`` runs in its own thread. There is no simple way in python (that i know of) to cancel all threads.
The best way to deal with this kind of problems are periodic timeouts or using the ioloop for sleeping like ``lona.LonaView.sleep`` https://lona-web.org/end-user-documentation/views.html#lon

[2022-01-15 12:56] laundmo commented on #191
Could you perhaps use Daemon threads, so they will be killed when the main process tries to exit?

from the threading daemon docs:

[2022-01-15 13:55] fscherf commented on #191
@laundmo that might be a good idea. I tried mark all threads as daemon threads, but this does not seem to be enough: ``handle_request()`` always continue to run after i hit ``CTRL-c``

[2022-01-15 14:00] laundmo commented on #191
with a brief look in the code i can see Lona uses ThreadPoolExecutor, which doesn't really make daemon threads according to this issue
https://stackoverflow.com/questions/49992329/the-workers-in-threadpoolexecutor-is-not-really-daemon

[2022-01-15 14:02] fscherf commented on #191
Yes i know. i patched ``daemon=True`` into the standard library to test this

[2022-01-15 16:05] laundmo commented on #191
very dirty way to do this would be to call os._exit() somewhere
but that will exit instantly without any cleanup. a better approach might be to have a flag that stops the threads from the inside.

[2022-01-15 16:32] fscherf commented on #191
Yes that seems pretty dirty (but would work)

The thread would have to be compliant then though. If it just runs ``time.sleep(1000000)`` the server can't stop.

Have you seen this: https://lona-web.org/end-user-documentation/views.html#lonaview-ping ?
If called periodically by the thread, it gets stopped when the server stops.

[2022-01-15 20:59] laundmo commented on #191
yeah my solution ended up being similar to this, by using get_nowait on the queue and sleeping for .01 secs. Still, kinda annoying that concurrent.futures cant handle that.

[2022-01-16 13:14] fscherf commented on #191
I agree. I think there is nothig we can do about this here. Maybe some documentation

[2022-01-19 16:18] laundmo opened #196 "Starting lona from a coroutine"
Currently, app.run cannot be run from a coroutine
[code]

i has assumed passing loop= in would work, but the error thrown is the same.

[code]

next, i tried running lona from a thread so that i could start my coroutine after. no luck there.
[code]

So, the only option seems to be to run my asyncio code in its own thread.

[2022-01-19 18:48] fscherf commented on #191
@laundmo i did some experimentation and you are right: the daemon flag would fix this problem. We would have to stop using ``concurrent.futures.ThreadPoolExecutor``, but that should be no problem.

This fix would raise another problem: Currently a view can decide to not shut down immediately to commit a database transaction or close a file for example. We would need to make the daemon flag configu

[2022-01-19 18:54] fscherf commented on #196
@laundmo ``LonaApp.run`` uses ``aiohttp.web.run_app`` internally, which creates an ioloop and starts it. To start a Lona app from a coroutine you would have to do the same as aiohttp using ``app.aiohttp_app``.

Out of curiosity: Why do you want to start a Lona app from a coroutine?

[2022-01-19 20:59] laundmo opened #197 "Bubble events through multiple layers of widgets"
Im currently implementing a custom widget that autocompletes a text input field (using jQuery)

The events of the TextInput field should still bubble up to the next widget which is using this one. Currently, that is not the case.

Is there a way to make sure the outer widget receives the events?

<details>
<summary> Code </summary>

[code]

</details>

[2022-01-19 21:03] fscherf commented on #197
If you are using ``lona.html.TextInput`` you can use the keyword ``bubble_up=True``. To bubble up events in your custom widget, simply return the given input event im you ``handle_input_event`` method.

[2022-01-19 22:33] laundmo commented on #196
Im trying to use lona with some code that needs to constantly communicate with sockets, and for that needs to run in its own coroutine or thread, and the latter is unappealing for a variety of reasons.

Alternatively, maybe lona has some built-in way to handle background tasks? for now im starting them in their own thread, which works okay. it's just odd that app.run would take a loop parameter if

[2022-01-19 22:39] laundmo commented on #197
yeah its from lona_bootstrap5

i had a look at `widget` code and that returns the event by default, so this is odd.

[2022-01-19 22:40] fscherf commented on #196
Yes there is: middlewares have an ``on_startup`` hook that can be used to create background tasks.

The loop argument in ``app.run`` is only for testing purposes. If you use the ``lona_app_context`` pytest fixture ``loop`` is set to start an Lona server on top of pytest-aiohttp

[2022-01-19 22:43] fscherf commented on #197
Maybe you found a bug here. Is the code online somewhere, so i can run it myself?

[2022-01-19 22:45] laundmo commented on #196
thank you, i'll check out middlewares for this.

[2022-01-19 22:50] laundmo commented on #197
Im actually a bit of a idiot, if you look at my code, i did

[code]
which stores the custom widget in self.textinp

but then i do:
[code]
comparing the input event node with the `self.textinp`

in other words, i was comparing the node with the widget.

i just had to change the `self.textinp` to reference the actual node the event comes from, and not the widget.

which is easy in my case, but maybe

[2022-01-19 22:55] fscherf commented on #197
Ohhh! I missed that too.

There is ``input_event.nodes`` which contains the whole path of elements and widgets. Would that help?

[2022-01-19 23:44] laundmo commented on #197
That could work.

What do you think of a built in way to check against any type that it could have bubbled through, to provide a interface that doesn't change between using nodes and widgets?

[2022-01-19 23:47] laundmo commented on #196
Thank you, middlewares definitely work. And they allow me to inject things into the request, which is very nice for getting the instances associated with the running tasks (janus queues) passed to the views.

[2022-01-19 23:47] #196 closed

[2022-01-20 07:32] fscherf commented on #196
Great! :)
Yes i agree. I am writing docs at the moment anyway, so i will add an cookbook article on how to start background tasks from middlewares.

[2022-01-20 18:38] laundmo opened #198 "Client Error in custom Widget - Uncaught (in promise) TypeError: widget is undefined"
Im experiencing a ClientError when communicating with a custom widget.

[code]

[code]

Code can be found here: https://github.com/laundmo/northstar-server-webui

You should be able to run this without anything else running. Then just type something into the textbox and press enter to get the error (will take a while until the connection attempt to the socket it tries to communicate with times out

[2022-01-20 18:59] fscherf commented on #198
Hi @laundmo,

I got it starting by running ``python -m lona run-server --project-root=app -s settings.py`` in the top level of your project but it says

[code]

multiple times per second. Can i disable this to see more log?

[2022-01-20 19:24] laundmo commented on #198
thats ... wtf? i swear that was working like, just a bit earlier.

thank you, and sorry for not noticing that.

[2022-01-20 19:24] #198 closed

[2022-01-20 19:30] fscherf commented on #198
@laundmo no problem!

I happen to have an old example on how to use jquery-ui autocomplete, that i plan on turning into a library at some point. Are you interested in an example how i would implement such a thing? Give me a few minutes and i push a branch for you.

[2022-01-20 19:32] laundmo commented on #198
I mean, it works for me the way i have it right now, so theres no immediate need.
Though generally, more pre-made widgets and nodes would be really nice to have.

[2022-01-20 19:54] fscherf commented on #198
@laundmo I need this anyway in the future, so it's a good opportunity to collaborate on this :)

https://github.com/lona-web-org/lona/tree/fscherf/autocomplete

[2022-01-20 20:01] laundmo commented on #198
Ah, i see. i think i will keep my solution, as it doesn't require constant requests just for the autocomplete

[2022-01-20 20:07] fscherf commented on #198
Good point. I should add an option for local completion where all possible results get transmitted right away. My solution was build with a database in mind where completion on the server makes more sense.

[2022-01-20 20:11] laundmo commented on #198
Yeah, for me its for a command history, so it doesn't make too much sense.

[2022-01-24 11:47] fscherf commented on #190
@masksshow does this answer your question?

[2022-01-24 11:58] masksshow commented on #190
Yes. Thanks to. I'm looking for a project to render html on the server and then connect js to it.
There are many implementations similar https://www.django-unicorn.com/docs/

[2022-01-24 12:00] #190 closed

[2022-01-25 13:18] laundmo opened #201 "Set up pre-commit for development tools"
[pre-commit](https://pre-commit.com/) allows for automatically running certain tools before a commit is made, ensuring that things like autoformatters, linters etc. all pass for the commit. This makes it easier on contributors not having to remember each tool to run, making the pull request process much less of a hassle.

Ideally this would be set up for all the lona-web-org repositories.

Would t

[2022-01-25 14:12] fscherf commented on #201
@laundmo I am not sure about this. I want to be able to commit unclean patches to a private branch. Sometimes to clean them up later, or just for development. With such an mechanism that wouldn't be possible. Also i am perfectly fine with unclean patches if the author agrees to change them or agrees with me changing them.
Also Lona has a mechanism for this:  Just run ``make lint`` in the top-level

[2022-01-25 14:27] laundmo commented on #201
the issue with make is windows compatibility. im not able to run it personally, since i develop on windows.

[2022-01-25 14:37] fscherf commented on #201
@laundmo can you run tox? ``make lint`` just runs ``tox -e lint``

[2022-01-25 14:50] laundmo commented on #201
@fscherf its the dev-env setup thats failing, since make tries to use `python3` which only exists as a Windows Store alias and therefore throws a permission error.

[2022-01-25 14:53] fscherf commented on #201
@laundmo OK. I am open to patches that make linting on windows more easy, but i don't want a solution based on pre-commit hooks.

[2022-01-26 09:32] simcup opened #202 "can't import LonaApp on windows/python38"
hey, i can't import LonaApp from lona after install via pip in python 3.8.5 on windows 10. see attached screenshots. IDLE was opened after installation
![Lona_fail_1](https://user-images.githubusercontent.com/959467/151143168-30cfeba8-883b-4260-a8f7-1a5ebd28f666.png)
![Lona_fail_2](https://user-images.githubusercontent.com/959467/151143288-5aed9705-5c77-4020-88a6-b5f0dadac552.png)
![Lona_fail_3](h

[2022-01-26 09:49] fscherf commented on #202
Hi @simcup,

Thanks for the detailed bug report! The problem is known and should be fixed in master. I am currently working on a release. I would recommend to use a prior version or the current master. To use the current master run ``pip install git+https://github.com/lona-web-org/lona@master``

I will notify you here when the fixed version is released (should be until friday)

[2022-01-26 10:18] simcup opened #203 "Example code does not execute on windows10/python38"
the example copy-pasted from the doc does not compile on windows 10/python 3.8.5 via associated IDLE
![Lona_fail_4](https://user-images.githubusercontent.com/959467/151145465-dd9c2ed3-4cb8-4a08-a9bf-af189c237e6f.png)

[2022-01-26 10:29] fscherf commented on #203
@laundmo can you verify that?

[2022-01-26 11:30] laundmo commented on #203
would be good to know which example this is.

[2022-01-26 11:38] laundmo commented on #203
1. i was also hit with #202 since im at work right now where i didn't have lona installed.
2. after installing from git as recommended in #202 i can confirm this issue is happening with the basic README example lona script.

<details>
<summary> Error, matches original report </summary>

[code]
</details>

[2022-01-26 11:39] laundmo commented on #202
JSYK; i went through and tested previous versions, the most recent one without this bug is 1.8.1

[2022-01-26 12:45] fscherf commented on #203
Hm. Sounds like another packaging problem. @laundmo could you try to find out which commit breaks the installation?

[2022-01-27 13:44] fscherf commented on #203
@laundmo: I am not completely sure why this happens. It looks like a packaging problem to me. I would bet on ``MANIFEST.in`` but that wasn't touched in a while. Is this maybe an artifact from the ImportError in the ``__init__.py`` i had to fix twice?

[2022-01-28 20:37] laundmo commented on #203
good news: this appears to be solved on 1.9 which was just released.

[2022-01-28 20:40] fscherf commented on #203
\o/ Then my hypothesis was right. @simcup can you verify that? In this case we can close this issue

[2022-01-31 13:18] simcup commented on #202
works  fine with version 1.9

[2022-01-31 13:18] #202 closed

[2022-01-31 13:18] simcup commented on #203
works fine in version 1.9

[2022-01-31 13:18] #203 closed

[2022-02-17 01:25] korantu opened #207 "Fresh install in OSX / Windows not working"
I am setting up new lona project;

from python:

`$ python --version`

[code]

On OSX:
`echo "import platform; print(platform.platform())" | python`

[code]

Simplest install:
`$ pip install lona`

[code]

Attempting import:
`$ echo "import lona" | python`

[code]

Works fine in Linux; Anywhere I can look to start figuring this out?

[2022-02-17 06:17] fscherf commented on #207
Hi @korantu,

Strange! First thing you can try is removing the ``try except`` block from ``lona/__init__.py``. Maybe there is an unhandled exception somewhere.

[2022-02-17 15:25] korantu commented on #207
My bad, I named lona program `lona.py` - and it was importing itself instead of actual lona library.

So this is not a bug.

Thank you, @fscherf

[2022-02-19 14:01] fscherf commented on #197
How would API for something like this look like? My first idea was something like ``node1.contains(node2)``, but this wouldn't say much in this case, because we know that the node we get called with is contained in ``self.nodes``. Otherwise the event wouldn't have bubbled up to us.

[2022-02-19 14:09] fscherf commented on #191
I thought a lot about this issue. We have to consider: Is this a bug or a feature? Lona has all API to make views compliant to immediate shutdown via ``CTRL-C``. Maybe a user has good reasons to not do so.

This behavior is caused by the implementation of the ``ThreadPoolExecutor`` in the standard library. One could argue that this is the behavior user expect, programming Python multi-threaded.

@

[2022-02-22 19:37] fscherf opened #210 "HTML user_data property"
Sometimes i need to store extra data into my nodes and don't want to expose it in the frontend. Currently i just do ``node.$name = 'foo'`` but that feels hacky and may lead to naming conflicts in the future. I thought of a dedicated data store for user data. I am not completely sure about the name ``user_data`` though.

[code]
@maratori, @korantu, @grigolet, @laundmo

[2022-02-22 20:38] maratori commented on #191
I don't know if it's real to change Lona to support following or not. But the best behaviour I can imagine is a graceful shutdown with some timeout.

What does it mean?
When the app receives signal (for example Ctrl+C), it stops receiving new requests and waits for current requests finish. If they don't finish in some timeout the app exits even if there are some DB queries are in progress.
It allo

[2022-02-22 20:41] maratori commented on #210
What about `server_data`?

[2022-02-28 18:59] fscherf commented on #210
@maratori thanks for the input! I created a PR to add this feature

[2022-03-08 21:06] SmithChart opened #217 "lona-server crashes on user-input"
On current master I can crash the lona-server by entering anything into a text-input in the browser.

My minimal reproducer is:
[code]

I am running this with lona on dd49788e64cb2cd02e7a33e1f973eb4409bb7302 (master).
But it's working as expected on 1.9.

Steps to reproduce:
* Start the reproducer
* Access localhost:8080
* Click the button. Nothing happens.
* Enter anything into the text box.
* Cl

[2022-03-10 11:10] fscherf commented on #217
Hi @SmithChart,

Thanks for reporting, i noticed this too. I suspect i broke the protocol layer with this patch ff7a0ab8316c9a4faf96e939d656fc52e66a514d. I will fix this before 1.10 gets released.

[2022-03-12 09:57] fscherf commented on #217
@SmithChart I found the bug. It was the patch i suspected. Could you give some feedback if this fixes the issue for you?

[2022-03-12 10:30] #210 closed

[2022-03-14 18:50] #217 closed

[2022-05-09 16:02] fscherf commented on #201
@laundmo could we setup some kind of docker infrastructure to run testing and linting in a container?

[2022-05-09 17:42] fscherf commented on #191
@laundmo: I did some experimenting with a custom threadpool executor. Its absolutely possible to design one that shuts down immediately when you hit ctrl-c. I don't think we should something like this though.
The current behavior is the default behavior of any multithreated python application, and I think most developers will expect lona to behave like this. If fast shutdown is a concern for a vie

[2022-05-09 17:43] fscherf commented on #176
@laundmo: this issue is open pretty long now. Can i transfer it to the ideas section?

[2022-05-09 19:15] laundmo commented on #176
Sure, i doubt I'll be working on it anytime soon.

On Mon, 9 May 2022, 19:43 Florian Scherf, ***@***.***> wrote:

[2022-05-09 19:17] laundmo commented on #201
Possibly, but I would go with just using GitHub Actions, its what they're made to do, and you get the checks for open PRs displayed right there.

[2022-05-21 20:55] SmithChart opened #222 "Correct way to set aiohttp's client_max_size ?"
I am working on an application where I want to upload files using POST. But files can exceed aiohttp's default client_max_size (https://docs.aiohttp.org/en/stable/web_reference.html#aiohttp.web.Application ) limit.

I am running my server from the command line (aka the Makefile). So the right place to set this limit would be here: https://github.com/lona-web-org/lona/blob/master/lona/command_line/

[2022-05-22 14:05] fscherf commented on #222
Hi @SmithChart!

I think a settings variable would be the best way to implement this. This way it can be set by the project and by the command via ``-O $SETTING=$VALUE``.

``AIOHTTP_CLIENT_MAX_SIZE`` maybe?

[2022-05-22 16:18] SmithChart commented on #222
Hi @fscherf,
``AIOHTTP_CLIENT_MAX_SIZE`` sounds good.  I like the idea to have that flexibility.

The problem with using the settings (at least as far as I can see) is that settings are loaded by the ``LonaServer`` but at this point the aiohttp ``Application`` has already been created and the size limit is already set.
It seems there is a way to override this limit on a per-request base using a ai

[2022-05-23 12:10] fscherf commented on #222
@SmithChart:

1) Can we set the value in the aiohttp app when the server first starts? In this case we could do that in the ``LonaServer`` constructor.

2) Right! Currently it's only mentioned in the debbuging and script sections.

[2022-05-26 18:51] SmithChart commented on #222
Yes, that's possible. My hack currently looks like:

[code]

I'll prepare a PR. That makes discussion easier.

:+1:

[2022-08-09 09:17] SmithChart opened #229 "Groups of radioboxes: Not all Python-Objects updated correctly?"
I am currently implementing an interface where I want to place a group of radioboxes (``<input type='radio' ...>``) where an user can select one-of-many.

I've started by copying the ``Checkbox`` from ``lona.html.data_binding_inputs`` to get the following:

[code]

Next step was to create a group of ``radioboxes`` like this:
[code]

When toggling the radiobox in the frontend to the other one I end

[2022-08-11 14:15] fscherf commented on #229
Hi @SmithChart

You are right, Radiobuttons are an unsolved problem in Lona at the moment. I had an idea for a similar widget in the past, but the problem with an backend-side approach like that is that you have to enforce some kind of HTML structure in which your radio buttons live. For example: Your widget uses divs as structural elements. That means (without CSS) your Radiobuttons would be grou

[2022-08-11 16:05] fscherf commented on #229
@SmithChart: I just realized that we probably need both, a backend solution and a frontend solution. If you have self containing Radiobuttons, and you want to check which value is selected, you don't want to have to check all radiobuttons on which one is selected.

Updated proposal: We build these self contained Radiobuttons, and add a widget (RadiobuttonGroup for instance) with a property that go

[2022-08-13 21:15] maratori commented on #229
JFYI, I've created a class to handle radio buttons group in my app https://github.com/maratori/belote/blob/main/elements/radio_group.py

[2022-08-18 16:37] SmithChart commented on #229
@fscherf that sounds like a good solution. _Fixing_ the behavior of the browser by emitting the additional change events makes the backend more consistent. (And if in case any browser changes this behavior the quirk could live on the frontend-side, too...) And then build a RadiobuttonGroup as suggested.

@maratori Looking at your code: You are relying on the state of the Radiobuttons  for the gett

[2022-08-18 17:05] maratori commented on #229
Sorry, I don't understand your question.
In `handle_input_event` I set `self.value` ([link](https://github.com/maratori/belote/blob/main/elements/radio_group.py#L61)). This is necessary to sync state on backend with state in browser.

[2022-08-19 06:29] SmithChart commented on #229
So you do not use the properties `def value()` and `def values()`?

[2022-08-19 06:42] maratori commented on #229
No, I get `value` [here](https://github.com/maratori/belote/blob/main/widgets/bet_widget.py#L141) and set it  [here](https://github.com/maratori/belote/blob/main/widgets/bet_widget.py#L148).

[2022-08-23 21:25] fscherf commented on #229
@SmithChart, @maratori: I implemented a solution that is a combination of my proposal and maratoris backend-side synchronization approach: The RadioButton it self is self-contained, but unchecks all surrounding RadioButtons  when it gets checked. I did also build a RadioButtonGroup around RadioButtons that implements properties like `value`, `values` and `name`

https://github.com/lona-web-org/lon

[2022-08-25 07:22] SmithChart opened #231 "Frontend-/Backend synchronisation error?"
While working on a non-public lona application I discovered a possible bug in the backend frontend synchronization. I have tried to break it down into a somewhat minimal reproducer. I'll show my reproducer and the effects I have found while creating the reproducer. Turns out: There are cases where this code (with some minimal changes) works as expected.

Here is my reproducer as a Lona Script:
[co

[2022-08-25 19:11] fscherf commented on #231
Hi @SmithChart,

thanks for reporting! This is a bug in the JavaScript rendering engine, and it seems to be completely client side.
It is reproducible with this even smaller example:

[code]

I debugged a little bit and think i understand the underlying issue: Lona renders a new node, with the node-id '3' in this case, and adds it to the dom. This add operation is an `RESET` in this case. That's i

[2022-08-26 08:17] SmithChart commented on #231
Thanks for looking into that!

[2022-08-26 18:05] fscherf commented on #231
@SmithChart: I created a PR to resolve this issues

[2022-09-06 15:06] SmithChart commented on #229
The ``RadioButtonsWidget`` seems a little clumsy to me.

With my implementation I can write a rather short:
[code]

With your suggestion I have to prepare the list of nodes somewhere else. And I have to repeat the same boilerplate for every RadioButtonGroup on the site. This removes the focus from the relevant parts of the code: The actual control flow.

[2022-09-06 22:28] maratori commented on #229
@SmithChart it looks like too specific solution. Such API is not general enough, for me.

[2022-09-10 12:26] SmithChart commented on #229
@maratori I would argue the other way around. Such generic API does not help when developing an application. Maybe ``lona.html`` is not the right place to collect specific solutions.

[2022-09-10 14:05] fscherf commented on #229
@SmithChart: from an API standpoint i would agree with @maratori, because your implementation enforces a very specific HTML layout, which won't work for anyone (for example for most my work related usecases regarding radiobuttons)

I don't think this implementation is to clumsy, but I would agree to a shorthand (or a list of shorthands) on `RadioButtonGroup` that create RadioButtons in a specific

[2022-09-19 15:42] #231 closed

[2022-10-05 12:51] SmithChart opened #236 "<select>: option is not not selected if value is an integer"
I found some strange behavior where I am not sure what part of lona may be the problem.
See the following reproducer:

[code]

When surfing to the view the ``Text 1`` Option is shown inside the `<select>`.
When I now drop the menu down and select ``Text 2`` ``b`` is printed to the console. Selecting ``Text 1`` prints ``a``, as expected.
When selecting ``Danger``, however, the value printed is ``a`

[2022-10-07 15:43] fscherf commented on #236
Hi @SmithChart,

Hm! I agree, if i set an int based value, i want to be `Select.value` int based as well. Maybe the client should send the index of the selected value, instead of the value it self.

[2022-10-10 05:22] SmithChart commented on #236
Sounds like the right way to go.

[2022-10-19 14:05] SmithChart opened #268 "RFC: Switch to disable String-to-HTML-parsing"
Cheers,
the real world hit my Lona project again. Before starting with a PR I would like to hear your opinion on how to go forward here.

**tl;dr:** I would like to add a settings-switch that disables the auto HTML-parsing in `HTML()` -objects.
IMHO auto-parsing is a footgun. With it enabled the developer has to escape each and every user input that could be passed (directly) into an HTML-object a

[2022-10-19 16:49] fscherf commented on #268
Hi @SmithChart,

currently there is no way to implement a settings switch that changes the behavior of the `lona.html` API, because HTML nodes don't get a reference to the server they get rendered by.

`lona.html.HTML` supports autoescaping if needed. When a given string starts with `\`, the string gets transformed into a text node directly (the `\` gets removed, even if nothing needs to be escape

[2022-10-20 09:48] SmithChart commented on #268
Ack.

I have seen that feature in the source. Should we advertise that in the documentation?

I could fix all these problems by simply wrapping all user input in a `<span>` or something. In this case all texts will simply be send in text mode and displayed the way I want.
I guess the point I want to make is:  From a users-perspective it's not expected that `HTML` and `Node` behave differently.

I

[2022-10-21 19:04] fscherf commented on #268
https://lona-web.org/end-user-documentation/html.html#using-html-strings

Hm. The now widget, soon node is named `HTML`. I thought it makes sense that it accepts HTML in various forms. Do you have a better proposal?

[2022-10-23 11:03] fscherf commented on #236
@SmithChart: I started working on this yesterday and realized that the whole API of `html.Select` is quite confusing and unpractical, so i refactored the whole thing, with your issue addressed as well. Currently there is not much documentation (only in the patch description) but at this moment it's only a proposal.

Branch: https://github.com/lona-web-org/lona/tree/fscherf/topic/refactor-select-ap

[2022-10-25 13:02] SmithChart commented on #268
Sorry, must have missed that :/

I am not against parsing a String as HTML. But maybe it should not be enabled by default. In my opinion parsing string as HTML is the special case, while forwarding user input to the client is the default case.

In my case: `HTML('<some></text>')` forwards the HTML to the client and `HTML('<strong>Hello World</strong>', parse_html=True) does the parsing.
But curren

[2022-10-25 14:20] SmithChart opened #273 "collect static fails due to missing _client_pre_compiler"
In lona master (87d02673e182b0405d7bab93415fd2eee5b885d3) (1.10.4 + some version bumps) and probably earlier `collect static` is broken.

After applying #272 it will fail since `_client_pre_compiler` has been removed from the LonaServer:

[code]
I assume this was introduced with 7d8b5513b72d7efd48625db02ac4f5f81b311fe5.

[2022-10-25 16:24] maratori commented on #268
I agree that parsing HTML is a special case. And I think it isn't used in 90% (or more?) apps now.

But I'm not sure we should change something in lona 1. It may be redesigned in lona 2.

I recommend to wrap it with `TextNode`.

[2022-10-25 16:54] fscherf commented on #268
For me it's a pretty important feature because its great for building components for third-party libraries.

https://github.com/lona-web-org/lona-bootstrap-5/blob/master/lona_bootstrap_5/modal.py#L12

I am open to proposals! But to be honest, i am not unhappy withe the current api

[2022-10-25 17:40] maratori commented on #268
I'm not insist, but it could be a dedicated `lona.html.ParseHTML` instead of `lona.html.HTML`.

[2022-10-25 17:58] maratori commented on #236
What's wrong with it?

First of all it has breaking changes.

Also I don't understand why do we need to use indexes.
In your branch attribute contains string representation of the value. Original value is stored separately. Why not to use that string representation to find the option.

[2022-10-25 19:00] fscherf commented on #236
Currently, option text, value and selected state are accessed via `Select.values`. The abstraction should be Select -> Option -> {value, selected, disabled}. Also if I select one option, the others should be unselected automatically.

Yes thats true. First i thougt we could name it `lona.html.Select2` but thats quite inelegant and produces problems with the parsing api. I would make that change in

[2022-10-25 19:48] maratori commented on #236
Not for me.

You don't need to typecast it back. You just need to find the right option somehow and take arbitrary value from it. In your branch search is happening by index, I propose to search by string attribute.

[2022-10-25 19:56] fscherf commented on #236
@maratori: how would i distinguish between `3` and `'3'` if I create strings of both of them? The event would state `'3'` in both cases

[2022-10-25 20:36] maratori commented on #236
@fscherf Yeah, you are right. Moreover you can have several options with the same value `'3'` and browser correctly handles it. Seems it's possible only with indices.

[2022-10-26 08:50] fscherf commented on #268
If we decide `lona.html.HTML` shouldn't parse HTML strings anymore, and we decide we get rid of widgets or VirtualNodes or however we call them in the future, `lona.html.HTML` will be obsolete. `lona.html.HTML` was always a special node that had more of an dsl (domain specific language) purpose.

Code like:

[code]
never produced an actual `<html>` tag, but described the users intend pretty good.

[2022-10-26 11:17] maratori commented on #236
@fscherf Yeah, sure.

[2022-10-31 18:18] fscherf commented on #229
This seems to be a very similar problem like #276. I will revisit this when when we decided on the select api

[2022-10-31 18:19] fscherf commented on #191
@laundmo: what's your opinion on this?

[2022-10-31 18:20] fscherf commented on #197
@laundmo: ?

[2022-10-31 18:21] fscherf commented on #201
@laundmo: in the meantime i added docker infrastructure

[2022-10-31 18:29] fscherf opened #284 "Doubled dependabot pull requests"
It seems dependabot opens pull requests for dependencies in `/tests` always twice.

Two currently open pull requests: #283 #281

[2022-11-01 17:08] #284 closed

[2022-11-08 11:22] mwx23 opened #288 "Capture global keypress event to dismiss modal"
Lately I've been using tailwindcss and daisyui for my UI css. There's some nice css behaviours those libs have to handle visibility etc that seems to get swallowed by lona. This issue isn't about that (I'll post a minimal example later), as a work-around I'd just like to capture key events. Specifically if a modal is displayed and `esc` is pressed, toggle close the modal.

My general question is i

[2022-11-09 12:21] fscherf commented on #288
Hi @mwx23,

Nice! I didn't know daisyui, but it looks pretty cool and versatile. If we can resolve your issues we could make package for lona like https://github.com/lona-web-org/lona-bootstrap-5

Actually, that is exactly how events are implemented. Every node has a list of events it can fire (`Node.events`). This list is empty by default, but some nodes from the standard library like `lona.html.

[2022-11-14 14:48] fscherf commented on #191
I will close this issue for now. Feel free to reopen it if you want to discuss this issue further

[2022-11-14 14:48] #191 closed

[2022-11-14 14:48] fscherf commented on #197
I will close this issue for now. Feel free to reopen it if you want to discuss this issue furthe

[2022-11-14 14:48] #197 closed

[2022-11-14 14:49] fscherf commented on #201
I will close this issue for now. Feel free to reopen it if you want to discuss this issue further

[2022-11-14 14:49] #201 closed